.embla {
  position: relative;
  margin: auto;
  margin-top: 2rem;
  --slide-height: 30rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}
.embla__slide__number {
  position: relative;
  overflow: hidden;
  border-radius: 1.8rem;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  user-select: none;
}

.embla__slide__number img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.embla__controls {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--slide-height);
  pointer-events: none;
}
.embla__buttons {
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  pointer-events: none;
}

.embla__button:disabled {
  color: var(--detail-high-contrast);
}
